<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768340790310-b0f2lkq94ftripr9n9na1jj3i43p3itn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768340790310-b0f2lkq94ftripr9n9na1jj3i43p3itn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>768340790310-276aqlgp4mn32djfud2iifi4ra87jtgs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCcqXOkgzmBVA6sjRxYT6pj1M26PeuuwZI</string>
	<key>GCM_SENDER_ID</key>
	<string>768340790310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shop.loscastillos</string>
	<key>PROJECT_ID</key>
	<string>los-castillos</string>
	<key>STORAGE_BUCKET</key>
	<string>los-castillos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768340790310:ios:e24a4c39231de509136ae7</string>
	<key>DATABASE_URL</key>
	<string>https://los-castillos.firebaseio.com</string>
</dict>
</plist>